doctype html
html(lang="en" class="h-100")
  head
    title Irkin Slack
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script.
      var gon = !{JSON.stringify(gon)};
  body(class="h-100")
    div(class="container-fluid h-100 p-0")
      #chat(class="h-100")
    script(src='/assets/vendors~main.js')
    script(src='/assets/main.js')
